.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin-right: 10px;
  padding: 10px;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.btn-in {
  background-color: #4caf50;
}

.btn-dec {
  background-color: #fa0000;
}

.btn-re {
  background-color: #a1aaa1;
}
